<html>
	<head>
		<title>Update database</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</head>
			
	<body>
		<% i=1 %>
		<div  style = "padding:2%;"> 
		<% data.forEach(function(item){ %> 	
      	
	         <h4><%= item.name %></h4>
	         <div class="form-group">
    			<div class="row">
        			<div class="col-xs-2"><label>Update batting: </label></div> 
        			<div class="col-xs-2">   
             			<select id="batting_<%= i %>" name="batting_<%= i %>" class="bat_bowl form-control">
							<option value=<%= item.batting_status%>><%= item.batting_status %></option>
							<option value=<%= item.bowling_status%>><%= item.bowling_status %></option> 
						 </select>

        			</div>
        			<div class="col-xs-8"></div> 
   				 </div> 
 			</div>
 			<div class="form-group">
    			<div class="row">
        			<div class="col-xs-2"> <label>Update Run: </label></div> 
        			<div class="col-xs-2"> 
             			<input type="text" id="run_<%= i %>" name="run_<%= i %>" value ="<%= item.total_run_bat %>" class="form-control"> 

        			</div>
        			<div class="col-xs-8"></div> 
   				 </div> 
 			</div>
 			<div class="form-group">
    			<div class="row">
        			<div class="col-xs-2"><label>Update Wicket: </label></div> 
        			<div class="col-xs-2"> 
             			 <input type="text" id="wicket_<%= i %>" name="wicket_<%= i %>" value ="<%= item.total_wicket_bat %>" class="form-control"> 

        			</div>
        			<div class="col-xs-8"></div> 
   				 </div> 
 			</div>
 			<div class="form-group">
    			<div class="row">
        			<div class="col-xs-2"> <label>Update over: </label></div> 
        			<div class="col-xs-2"> 
             			 <input type="text" id="over_<%= i %>" name="over_<%= i %>" value ="<%= item.total_over_bat %>" class="form-control"> 

        			</div>
        			<div class="col-xs-8"></div> 
   				 </div> 
 			</div>
 			<div class="form-group">
    			<div class="row">
        			<div class="col-xs-2"><label>Comment: </label></div> 
        			<div class="col-xs-2">  
             			  <textarea id="comment_<%= i %>" id="comment_<%= i %>" rows="1" cols="" class="form-control" ></textarea>

        			</div>
        			<div class="col-xs-8"></div> 
   				 </div> 
 			</div>
 			<div class="form-group">
    			<div class="row">
        			<div class="col-xs-2"></div> 
        			<div class="col-xs-2">  
             			 <input type="button" id="push_<%= i %>" class="update btn btn-primary btn-block" value="Update">

        			</div>
        			<div class="col-xs-8"></div> 
   				 </div> 
 			</div>     

    <% i= i+1%>
     <% }); %>
</div>
	</body>
</html>


	<script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
          var socket = io();

          $(".update").click(function(){
          	id=this.id.split("_")[1]
            socket.emit('update',id,$("#comment_"+id).val(),$("#run_"+id).val(),$("#wicket_"+id).val(),$("#over_"+id).val(),$("#batting_"+id).val());
          });
          $(".bat_bowl").change(function(){
          	id1=this.id.split("_")[1]
          	$.get("/ajax_data",{id : id1,country : $("#"+this.id).val()},function(data)
          	{
          		console.log(data.run);
          		 $("#run_"+id1).val(data.run);
          		$("#over_"+id1).val(data.over);
          		$("#wicket_"+id1).val(data.wicket);
          	})

          });

    });
    </script>